In [23]:
#Домашнее задание №6

In [2]:
import os
import pandas as pd

In [2]:
data = pd.read_csv('web_clients_correct.csv')

In [3]:
data.head(15)
data.columns

Index(['name', 'device_type', 'browser', 'sex', 'age', 'bill', 'region'], dtype='object')

In [11]:
df_1 = data.head(15)
df_1.loc[:10, ['sex','age']]
df_2 = data.head(20)

In [5]:
df_1.head()

,name,device_type,browser,sex,age,bill,region
427,Hamalainen Master. Viljo,laptop,Chrome,male,0.67,637,Detroit: MI
430,"Harper Miss. Annie Jessie ""Nina""",desktop,Opera,female,6.00,1485,Denmark Hill: Surrey / Chicago
434,Hart Miss. Eva Miriam,tablet,Firefox,female,7.00,459,Ilford: Essex / Winnipeg: MB
54,Carter Master. William Thornton II,desktop,Internet Explorer,male,11.00,1392,Bryn Mawr: PA
830,Goodwin Mr. Charles Edward,mobile,Internet Explorer,male,14.00,675,Wiltshire: England Niagara Falls: NY

In [10]:
#Задание 1 упрощенно
def age_category(x):
    if x > 25:
        return 'Старше 25'
    else:
        return 'Младше или равен 25'

df_1['age'] = df_1['age'].apply(age_category)
print(df_1.loc[:15, 'age'])

0               Старше 25
1               Старше 25
2               Старше 25
3               Старше 25
4     Младше или равен 25
5               Старше 25
6               Старше 25
7               Старше 25
8               Старше 25
9               Старше 25
10              Старше 25
11              Старше 25
12    Младше или равен 25
13              Старше 25
14              Старше 25
Name: age, dtype: object

D:\PF\ORPA_141_CE_W64\Resources\WPy64-3720\python-3.7.2.amd64\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
df_2.insert(2, "Age_category",'')

           Age_category   age
0             Старше 25  29.0
1             Старше 25  48.0
2             Старше 25  48.0
3             Старше 25  30.0
4   Младше или равен 25  25.0
5             Старше 25  48.0
6             Старше 25  63.0
7             Старше 25  39.0
8             Старше 25  53.0
9             Старше 25  71.0
10            Старше 25  47.0
11            Старше 25  48.0
12  Младше или равен 25  24.0
13            Старше 25  26.0
14            Старше 25  80.0
15            Старше 25  48.0

In [ ]:
#Задание 1 c заменой столбца
def age_category(x):
    if x > 25:
        return 'Старше 25'
    else:
        return 'Младше или равен 25'
df_2['Age_category'] = df_2['age'].apply(age_category)
print(df_1.loc[:15, ['Age_category','age']])

In [ ]:
df_2.loc[:15,['Age_category','age']]

In [5]:
##Задание 2 
import numpy as np
DataFrame = pd.read_csv('web_clients_correct.csv')

In [22]:
df = DataFrame.head(15)
df_filter = np.where((df['sex'].str.startswith('m')) & (df['age']>= 30))
#print(df_filter)
display(df.loc[df_filter])

,name,device_type,browser,sex,age,bill,region
1,Allison Master. Hudson Trevor,tablet,Opera,male,48.0,850,Montreal: PQ / Chesterville: ON
3,Allison Mr. Hudson Joshua Creighton,desktop,Internet Explorer,male,30.0,214,Montreal: PQ / Chesterville: ON
5,Anderson Mr. Harry,mobile,Firefox,male,48.0,371,New York: NY
7,Andrews Mr. Thomas Jr,tablet,Internet Explorer,male,39.0,867,Belfast: NI
9,Artagaveytia Mr. Ramon,mobile,Firefox,male,71.0,926,Montevideo: Uruguay
10,Astor Col. John Jacob,desktop,Chrome,male,47.0,100,New York: NY
14,Barkworth Mr. Algernon Henry Wilson,laptop,Chrome,male,80.0,723,Hessle: Yorks

In [ ]:
filtered_values = np.where((dataFrame['Salary']>=100000) & (dataFrame['Age']< 40) & (dataFrame['JOB'].str.startswith('D')))
print(filtered_values)
display(dataFrame.loc[filtered_values])